<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <package android:name="tv.danmaku.bili" />
        <package android:name="com.zhihu.android" />
        <package android:name="com.xingin.xhs" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Garnet"
        tools:targetApi="31">
        <activity
            android:name=".LogInActivity"
            android:exported="false" />

        <receiver
            android:name=".DataClearReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".ReceiveShareActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiveShareActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttachInfoGroupActivity"
            android:exported="false" />
        <activity
            android:name=".AttachInfoItemActivity"
            android:exported="false" />
        <activity
            android:name=".InfoItemDisplayActivity"
            android:exported="false" />

        <receiver
            android:name=".Notifier"
            android:enabled="true" />
        <receiver
            android:name=".MyWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION_DELETE_ITEM" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".ListWidgetService"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
            <intent-filter>
                <action android:name="android.widget.RemoteViewsService" />
            </intent-filter>
        </service>
    </application>

</manifest>